Properties/launchSettings.json
bin
bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.InMemory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp3.1/Shop.deps.json
bin/Debug/netcoreapp3.1/Shop.dll
bin/Debug/netcoreapp3.1/Shop.exe
bin/Debug/netcoreapp3.1/Shop.pdb
bin/Debug/netcoreapp3.1/Shop.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Shop.runtimeconfig.json
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
obj/project.assets.json
obj/Shop.csproj.nuget.cache
obj/Shop.csproj.nuget.dgspec.json
obj/Shop.csproj.nuget.g.props
obj/Shop.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/Shop.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Shop.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Shop.assets.cache
obj/Debug/netcoreapp3.1/Shop.csproj.CopyComplete
obj/Debug/netcoreapp3.1/Shop.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Shop.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Shop.dll
obj/Debug/netcoreapp3.1/Shop.exe
obj/Debug/netcoreapp3.1/Shop.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/Shop.pdb
obj/Debug/netcoreapp3.1/Shop.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/staticwebassets/Shop.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/Shop.StaticWebAssets.xml
bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
obj/Shop.csproj.EntityFrameworkCore.targets
.vscode
obj

